repos:
  - repo: local
    hooks:
      - id: pre-commit
        name: just pre-commit
        entry: just pre-commit
        language: system
        always_run: true
        pass_filenames: false
      - id: post-checkout
        name: post-checkout cleanup
        entry: just post-checkout
        language: system
        always_run: true
        pass_filenames: false
        stages: [post-checkout]
